body {
  margin: 0;
  padding: 0;
  background-color: #0a0e17;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  border-color: #ff003c !important;
  box-shadow: 0 0 20px #ff003c !important;
}

.neon-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 243, 255, 0.3);
  box-shadow: 0 0 15px rgba(0, 243, 255, 0.1);
  border-radius: 16px;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 600px;
  max-height: 95vh;
  justify-content: space-between;
}

.image-container {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  margin-bottom: 2rem;
  border: 2px solid #d600ff;
  box-shadow: 0 0 15px rgba(214, 0, 255, 0.3);
  border-radius: 8px;
  overflow: hidden;
  background-color: #111; /* Background while loading */
  flex-grow: 1;
}

.word-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
